.blurb {
	@include text;
	display: table;
	border-bottom: 1px solid #eaeaea;
}
.blurb__text {
	display: table-cell;
	width: 360px;
	border-bottom: 25px solid #53545e;
	border-top: 25px solid #53545e;
}
.blurb__text--style {
	line-height: 24px;
	letter-spacing: 0.05px;
}
.blurb__list {
	display: table-cell;
	padding-left: 60px;
	width: 120px;
	list-style: none;
	border-bottom: 25px solid $bgfon;
	border-top: 25px solid $bgfon;
}
.blurb__list a {
	position: relative;
	font-family: 'Overpass', 'arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #bfc0c3;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:active {
		opacity: 0.5;
	}
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 4px;
		left: -9px;
		width: 2px;
		height: 6px;
		background: #bfc0c3;
		transform: rotate(50deg);
	}
	&::after {
		top: 3px;
		left: -11px;
		width: 6px;
		height: 2px;
	}
}