.header-page {
	background: #e1e1e1;
}
.header-page__wrapper {
	@include container;
	display: table;
	height: 100px;
	background: #53545e;
}
.logo {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}
.header-page__title {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	font-family: 'Open Sans', 'arial', sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #e0e0e0;
	font-weight: bold;
}