.header-page {
	background: #e1e1e1;
}
.header-page__wrapper {
	@include container;
	display: table;
	height: 100px;
	background: $bgfon;
}
.logo {
	padding-top: 5px;
	padding-left: 1px;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}
.header-page__title {
	padding-top: 18px;
	letter-spacing: 0.05px;
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	font-family: 'Open Sans', 'arial', sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #e0e0e0;
	font-weight: bold;
}